.root-comment {
  box-sizing: border-box;
  flex: 1 0 auto;
  list-style: none;
  border-bottom: gray 3px solid;
  margin: 0;
  flex-direction: row;
  padding: 1%;
}
.root-commentBox {
  display: flex;
  width: 100%;
  height: 80px;
}
.root-commentPic {
  width: 70px;
  height: 70px;
  background-color: gray;
  border: 1px solid whitesmoke;
  border-radius: 50%;
}
