.Side_nav {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-between;
	width: 50vh;
	height: 93vh;

	background-color: #b8b5b585;
	border-right: solid rgba(94, 86, 86, 0.671);
}

.side {
	padding-top: 20px;
	font-size: 1vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.side:hover {
	cursor: pointer;
}

.side .control {
	display: flex;
	flex-direction: row;
	font-size: 4vh;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}
.side table {
	display: flex;
	justify-content: center;
	width: 5vh;
	height: 5vh;
}
.side table tbody {
	display: flex;
	flex-direction: column;
}
.side tr {
	display: flex;
	flex-direction: row;
}
.side td {
	display: flex;
	border: 1px solid gray;
	width: 5vh;
	height: 5vh;
}
.side td span {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.RandomIssue {
	font-size: 4vh;
}

.RandomIssue:hover {
	cursor: pointer;
}

.Hot_Issue {
	font-size: 20px;
	flex-direction: column;
}
li:hover {
	cursor: pointer;
}
.button {
	margin: 10px;
	padding: 10px;
}
.li {
	padding-left: 20px;
	margin: 10px;
}
