.Side_nav {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-between;
	width: auto;
	height: 95vh;
	background-color: #b8b5b585;
	border-right: solid rgba(94, 86, 86, 0.671);
}

html,
body {
	height: 100%;
}

.side {
	height: 100px;
	width: 300px;
	padding: 15px;
	font-size: 10px;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: flex-end;
}

.side .control {
	display: flex;
	flex-direction: row;
	font-size: 20px;
	flex-wrap: nowrap;
	align-items: center;
}
.side table {
	display: flex;
	width: 10px;
	height: 10px;
	padding-left: 30px;
}
.side table tbody {
	display: flex;
	flex-direction: column;
}
.side tr {
	display: flex;
	flex-direction: row;
}
.side td {
	display: flex;
	border: 1px solid gray;
	width: 30px;
	height: 30px;
}
.side td span {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.Hot_Issue {
	font-size: 40px;
	text-align: center;
}
.button {
	margin: 10px;
	padding: 10px;
}
.li {
	padding-left: 20px;
}
