#mypage-wrap{
    width: 700px;
    height: 280px;
    background: #4a4848;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    /* float: left; */
    /* padding-left: 10px; */
    /* margin-left: ; */
}

h1{
    color:white;

}
#mypage-wrap ul li{
    list-style: none;
    font-weight: bold;
}

#mypage-left-side {
    /* float: left; */
    text-align: left;
    font-size: 25px;
    /* background: white; */
}

#mypage-left-side li{
    /* background: white; */
    /* border-radius: 10px; */
    color: #4a4848;
    
}

#mypage-wrap input {
	width: 600px;
	height: 30px;
	margin-bottom: 5px;
	border-radius: 10px;
	border: 1px solid #4a4848;
    font-size: 20px;
	/* float: left; */
	/* position: static; */
	/* margin-left: 20px; */
	/* margin-right: 20px; */
	/* font-size: 20px; */
	/* text-align: center; */
    align-items: center;
    text-align: center;
}

#mypage-wrap #modifybtn, #changepasswordbtn{
    float: right;
    width: 100px;
    height: 30px;
    margin-right: 55px;
    margin-top: 5px;
    text-align: center;
    color: #4a4848;
    
}

#mypage-wrap #modifybtn:hover, #changepasswordbtn:hover{
    color: white;
}

#changepasswordbtn {
    width: 200px;
    margin-right: 20px;
}

#mypage-bottom {
    background: white;
}

#mypage-modify {
    height: 30px;
    background: #4a4848;
}

li label{
    color : white;
}

/* #info-wrap{
    justify-content: space-between;
} */


#like-wrap{
    width:700px;
    height: 200px;
    background: #4a4848;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    /* float: left; */
    /* padding-left: 10px; */
    /* margin-left: ; */
}

#like-wrap div {
    font-size: 50px;
    color:white;
}
#numberoflike{
    width: 100px;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    background: white;
    align-items: center;
    text-align: center;
}

#rank-wrap{
    width:700px;
    height: 200px;
    background: #4a4848;
    border-radius: 10px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    /* float: left; */
    /* padding-left: 10px; */
    /* margin-left: ; */
}

#rank-wrap div {
    font-size: 50px;
    color:white;
}